<hr>
<div>
    {% if payment.status == 1 and (transaction.state == 'AUTHORIZED' or transaction.state == 'COMPLETED' or transaction.state == 'FULFILL') %}
    	<p>{{ trans("wallee::Template.paymentInformationLabel") }}</p>
    {% endif %}
    
    {% if transaction.state == 'FULFILL' %}
    	{% if downloadInvoice %}<p><a href="/wallee/download-invoice/{{ transaction.id }}">{{ trans("wallee::Template.paymentInformationDownloadInvoice") }}</a></p>{% endif %}
    	{% if downloadPackingSlip %}<p><a href="/wallee/download-packing-slip/{{ transaction.id }}">{{ trans("wallee::Template.paymentInformationDownloadPackingSlip") }}</a></p>{% endif %}
    {% endif %}
</div>